#window{
    background-color: #AFEEEE;
    color: #C71585;
    font-size:13px;
    font-weight: bold;
}

#window #OR{
	background-color: #C71585;
	 border-radius: 22px;
}
#btn_cargar{
color: #C71585;
}
/*
#OR{
	background-color: #052340;
	 border-radius: 22px;

}*/
#OK{
	background-color: #052340;
	 border-radius: 22px;

}
#Pending{
	background-color: #4C657F;
}

#quit{
    background-color: #3498db;

    color: #ffffff;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    border-radius: 22px;
}

#quit:hover
{
   	background-color: #007F52;
    color: white;
    font-family:Georgia;
    font-size: 12px;
    border-radius: 30px;
}

#btn_program{
    background-color: #3498db;

    color: #ffffff;
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    border-radius: 22px;
}

#btn_program:hover
{
   	background-color: #007F52;
    color: white;
    font-family:Georgia;
    font-size: 12px;
    border-radius: 24px;
}

#spin{
    background-color: #FF1493;
    color: #C71585;
    font-family:Georgia;
    font-size: 12px;
    border-radius: 24px;
}
#spin:hover{
	background-color: #C71585;
}

#cell{
    background-color: black;
	color: white;
}

#scrollArea{
    border: none;
}

#scrollArea GtkCheckButton {
	background-color:white;
	color: red;
}
#newValue {
    background: #088A29;
    color: black;
    font-weight: bold;
}

#oldValue {
    background: #F2F2F2;
    color: black;
    font-weight: bold;
}

#newValueP {
    background: #F4FA58;
    color: black;
    font-weight: bold;
}